@import './../foundation/variable.scss';
#pageworks{
    padding:60px 0;
    .pageworks{
        padding:0 40px;
        margin:0 auto;
        .pageworks-post{
            margin-bottom: 30px;
            p{
                font-size:15px;
                line-height: 1.8;
                margin-bottom:1.5rem;
                text-align: center;
                font-weight: 400;
            }
            @media (max-width:767px){
                p{
                    font-size:14px;
                }
            }
        }
        nav{
            margin-bottom: 20px;
            ul{
                display:flex;
                padding:0;
                align-items: center;
                flex-wrap: wrap;
                li{
                    margin-right:20px;
                    margin-bottom:5px;
                    font-weight: 400;
                }
                @media (max-width:767px){
                    li{
                        font-size:12px;
                    }
                }
            }
        }
        .pageworks-list{
            display: grid;
            column-gap: 2%;
            row-gap: 30px;
            grid-template-columns: repeat(4, 1fr);
            a{
                height:auto;
                .pageworks-list_image{
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
                .pageworks-list_content{
                    margin-top:10px;
                    .pageworks-list_content_title{
                        font-size: 14px;
                        font-weight: bold;
                    }
                    .pageworks-list_content_element{
                        display: flex;
                        opacity: .6;
                        flex-wrap: wrap;
                        a{
                            font-size: 12px;
                            color:$font-color-gray;
                        }
                    }
                }
        }
        @media (max-width:767px){
            .pageworks-list{
                grid-template-columns: repeat(2, 1fr);
            }
        }
        .page-nations{
            display: flex;
            text-align: center;
            margin-top: 40px;
            flex-wrap: wrap;
            justify-content: center;
            .page-numbers{
                display: flex;
                font-size: 14px;
                width: 40px;
                height: 40px;
                margin: 0 4px;
                align-items: center;
                font-weight: 400;
                justify-content: center;
            }
            .next{
                font-size: 13px;
                width: 60px;
            }
            .prev{
                font-size:13px;
                width:60px;
            }
            .current{
                color:$base-color;
            }
        }
        .works-button{
            text-align: center;
            @media (max-width:767px){
                a{
                    width:100%;
                    button{
                        width: 100%;
                    }
                }
            }
        }
        @media (max-width:767px){
            .linkhome{
                padding:25px 0;
            }
        }
    }
    @media (max-width:767px){
        .pageworks{
            padding:0 15px;
        }
    }
}
@media (max-width:767px){
    #pageworks{
        padding:30px 0;
    }
}