.total-back{
    position: fixed;
    z-index: -100;
    height:100vh;
    width:100%;
    background-position: center;
    background-size: cover;
    //background-image:url("./../../../images/total-back.jpg");
}